<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Password</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/style.css') }}">
</head>

<body>
    <h1 style="text-align:center;">ALPHA Store<h1>
	<div class="input_section">
            <form action="{{ url_for('create_password') }}" id="create_password" method="post">
                <!-- Headings for the form -->

                <div class="headingsContainer">
                    <h3>Create Your Password</h3>

                    <h6>
                        {% block content %}
                        {{ message | safe }}
                        {% endblock %}
                    </h6>
                </div>

                <!-- Main container for all inputs -->
                <div class="mainContainer">
                    <!-- new password -->
                    <label for="password1">New Password</label>
                    <input type="password" placeholder="Enter your new password" id="password1" name="password1" required>

                    <br><br>

                    <!-- verify Password -->
                    <label class="login_label" for="password2"> Re-enter password</label>
                    <input class="login_input" type="password" placeholder="Re-enter your Password" id="password2" name="password2" required>





                    <!-- Submit button -->
                    <button type="submit">Submit</button>



                </div>

            </form>
</div>
</body>

</html>