<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <!-- Uncomment the following line to use the stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/style.css') }}">

    <script src="{{ url_for('static', filename='js/product_management_script.js') }}"></script>

    <script src="{{ url_for('static', filename='js/price_format_script.js') }}"></script>


</head>

<body>

    <header>
        <!-- ALPHA Store on the left -->
        <div class="left">
            ALPHA Store - {{ title }}
        </div>
        
        <!-- Username and Logout button on the right -->
        <div class="right">
            <span class="username" id="username">{{ username }}</span>
            <a href="{{ url_for('home') }}">
                <button class="logout-button">Home</button>
            </a>
        </div>
    </header>

    <br>

    <main>
        <div class="left-section">
            <a href={{ url_for('add_product') }}>
                <button type="button">Add</button>
            </a>
            <a id="modify-btn" href="#" style="display: none;">
                <button type="button">Modify</button>
            </a>
        </div>

        <!-- Right section -->
        <div class="right-section">
            <form class="search-menu" method="post">
                <div class="search-flex">
                    <div class="search-section">
                        <input type="text" id="search" name="search" placeholder="Search">
                        <input type="submit" value="Search">
                    </div>
                    <div class="search-section">
                        <label for="search_by">Search By:</label>
                        <select id="search_by" name="search_by">
                            <option value="ProductID" {% if field == "ProductID" %} selected {% endif %}>ProductID</option>
                            <option value="Product_Name" {% if field == "Product_Name" %} selected {% endif %}>Product_Name</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="table-section">
            {% if products %}
    <table class="product-table">
        <thead>
            <tr>
                <th>ProductID</th>
                <th>Product_Name</th>
                <th>Price</th>
                <th>Total_In_Stock</th>
            </tr>
        </thead>
        <tbody>
            <!-- Add rows of data here -->

            {% for product in products %}
                <tr data-product-id="{{ product.ProductID }}" onclick="selectRow(this)">
                    <td>{{ product.ProductID }}</td>
                    <td>{{ product.Product_Name }}</td>
                    <td class="number-value">{{ product.Price }}</td>
                    <td class="number-value">{{ product.Total_In_Stock }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    {% else %}
    <h1>No Data Found</h1>
    {% endif %}
</div>
            </div>
        </div>
    </main>

</body>

</html>